  /* Media Query for Mobile Devices */
@media (max-width: 480px) {
  p {
    font-size:x-small;
  }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
  p{
    font-size: small;
  }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){
  p,a {
    font-size:medium
  }
}

@media screen and (min-width: 1200px) {
  h1 {
     font-size: 1vw;
  }
}

:root{
  --babypink: #f5d7f5;
  --grey: rgb(105, 101, 104);
  --grey2: rgb(60, 60, 60);
  --purple: rgb(182, 138, 202);
  --red: rgb(138, 21, 21);
}

html {
  font-family: 'Vollkorn', serif;
  color:  var(--grey);
  background-color: var(--babypink);
}

h1 {
  color:rgb(63, 62, 62);
  font-size: 3.5vw;
  text-align: center;
}

textarea {
  padding: 1em;
  width: 42%;
  height: 10vw;
}

.spacefornav p{
  padding-top: 3px;
}
  
table{
  font-size: small;
  border:1px solid black;
  border-collapse: collapse;
  word-break:break-all;
  table-layout: fixed; 
  width: 100px;   
}

hr {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(238, 226, 230, 0.404), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

th{
  text-align: left;
  color: rgb(52, 51, 51);
  font-size: small;
  border:1px solid black;
  border-collapse: collapse;
}

thead{
  background-color: var(--purple);
}

#bigger{
  height: 200px;
}

.edit-click{
  color: var(--grey2)
}
.delete-click{
  color: var(--red)
}

.edit-click:hover, .delete-click:hover{
  color: var(--purple);
}

td{
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-right: 4px;   
  border:1px solid black;
  border-collapse: collapse;
  width: 600px;
  max-width:600px;
  word-wrap: break-word;
  background-color: white;
  height:5vh;
  text-align: left;
  vertical-align: top;
}
